<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Tony's Pizza - New User Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
</head>

<body ng-controller="labController">
    <div class="container">
        <h1>New User Registration</h1>
        <form class="form-horizontal" name="form" novalidate>

        	<div class="form-group">
        		<div class="col-md-2">
        			<label>Username</label>
        		</div>
        		<div class="col-md-5">
        			<input type="text" name="username" ng-model="model.username" class="form-control" required>
        			<div class="alert alert-danger" ng-show="(form.username.$touched || form.$submitted) && form.username.$error.required">
						Username is required
					</div>
        		</div>
        	</div>

        	<div class="form-group">
        		<div class="col-md-2">
        			<label>Password</label>
        		</div>
        		<div class="col-md-5">
        			<input type="password" name="password" ng-model="model.password" class="form-control" required>
        			<div class="alert alert-danger" ng-show="(form.password.$touched || form.$submitted) && form.password.$error.required">
						Password is required
					</div>
        		</div>
        	</div>

        	<div class="form-group">
        		<div class="col-md-2">
        			<label>Name</label>
        		</div>
        		<div class="col-md-5">
        			<input type="text" name="name" ng-model="model.name" class="form-control" required>
        			<div class="alert alert-danger" ng-show="(form.name.$touched || form.$submitted) && form.name.$error.required">
						Name is required
					</div>
        		</div>
        	</div>

        	<div class="form-group">
        		<div class="col-md-2">
        			<label>Email</label>
        		</div>
        		<div class="col-md-5">
        			<input type="email" name="email" ng-model="model.email" class="form-control" ng-required="true">
        			<div class="alert alert-danger" ng-show="(form.email.$touched || form.$submitted) && form.email.$error.required">
						Email is required
					</div>
        		</div>
        	</div>

        	<div class="form-group">
        		<div class="col-md-2">
        			<label>Favorite Pizza</label>
        		</div>
        		<div class="col-md-5">
        			<select name="favorite" class="form-control" ng-model="model.favorite" ng-required="true">
        				<option></option>
        				<option>Cheese Pizza</option>
        				<option>BBQ Chicken Pizza</option>
        				<option>Magherita Pizza</option>
        				<option>Pepperoni Pizza</option>
        				<option>Combo Pizza</option>
        			</select>
        			<div class="alert alert-danger" ng-show="(form.favorite.$touched || form.$submitted) && form.favorite.$error.required">
						Favorite is required
					</div>
        		</div>
        	</div>

        	 <div class="form-group">
       			<div class="col-md-offset-2 col-md-5">
            	<input type="submit" value="Submit" class="btn btn-primary" ng-click="form.$valid && submit(model)"/>
            	<!-- the above code works exactly as the one below -->
            	<!-- <input type="submit" value="Submit" class="btn btn-primary"> ng-click="submit(model)" ng-disabled="form.$invalid">Submit</button> -->
            	<button class="btn btn-default">Reset</button>
        	</div>
    </div>
    </div>
        </form>

        <pre>{{model | json}}</pre>
  

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="./scripts/app.js"></script>
    <script src="./scripts/labController.js"></script>
</body>

</html>